<div data-controller="node-editor" class="flex gap-2 mx-auto w-full md:w-2/3">
  <h1 class="sr-only">Editing game</h1>

  <%= render partial: 'nodes/node_canvas', locals: { game: @game } %>

  <section class="flex flex-wrap gap-y-1 gap-x-2 w-1/3">
    <%= form_with(model: Node.new, class: "contents") do |form| %>
      <%= form.hidden_field :game_id, value: @game.id %>
      <%= form.submit class: "mb-8 w-full rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    <% end %>

    <div class="py-2 px-3 rounded border border-gray-200 opacity-0" data-node-editor-target="formContainer">
      <%= render partial: 'nodes/form', locals: { node: Node.new } %>
    </div>

    <%= link_to "Play this game", @game, class: "mt-16 rounded-lg py-3 px-5 bg-gray-200 inline-block font-medium" %>
    <%= link_to "Back to games", games_path, class: "rounded-lg py-3 px-5 bg-gray-200 inline-block font-medium" %>
  </section>
</div>
